pip~=23.3
wheel~=0.41.2
cryptography~=42.0.4
Jinja2~=3.1.3
numpy~=1.26.0
setuptools~=68.1.2
cffi~=1.15.1
pandas~=2.1.4
tsplib95~=0.7.1
pytz~=2023.3.post1
scipy~=1.11.2
joblib~=1.3.2
scikit-learn~=1.3.1
threadpoolctl~=3.2.0
bigO~=1.0.0
codetiming~=1.4.0
matplotlib~=3.8.2